<a href="https://colab.research.google.com/github/vinod623/ML/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum():
  print("sum of N natural number")
  a = int(input("enter the value of N :"))
  b = (a*(a+1))/2
  print(int(b))
sum()

sum of N natural number
enter the value of N :5
15

In [ ]:
print("sum of N natural number")
a = int(input("enter the value of N :"))
b = (a*(a+1))/2
print(b)

sum of N natural number
enter the value of N :8
36.0

In [ ]:
num = 407
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

In [ ]:
x = int(input("enter the number : "))
for i in (2,x):
  if(x % i)==0:
    print("not a prime number")
    print(i ,"times",(x // i),"in",x)
    break
  else:
    print("it is a prime number")
    break

enter the number : 453
it is a prime number

In [ ]:
x = 4
y = 5
print("the values of x and y before swapping is",x,"and",y)
x = y
y = x
print("the values of x and y after swapping is",x,"and",y)

the values of x and y before swapping is 4 and 5
the values of x and y after swapping is 5 and 5

In [ ]:
x = str(input(""))
a = x[::1]
b = x[::-1]
a
b
if(a==b):
  print('the entered "digits" or "word" is an palindrom')
else:
  print("NOT a palindrom")

623326
the entered "digits" or "word" is an palindrom

In [ ]:
print("1 is a prime number\n2 is a prime number\n3 is a prime number")
print("5 is a prime number\n7 is a prime number")
for i in range(2,101):
  if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0:
    print(i,"is a prime number")

1 is a prime number
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
for i in range(2,101):
  if i>1:
    for j in range(2,i):
      if (i%j)==0:
        break
    else:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
a = ("1")
for i in a:
  print("king")

king

In [ ]:
x=(11,2,13,10,9,3)
sorted(x,reverse=True)

[13, 11, 10, 9, 3, 2]

In [ ]:
x = ord("A")
x

65

In [ ]:
def sum():
  n = int(input("enter the numbers : "))
  x = (n*(n+1))/2
  print(x)
sum()

enter the numbers : 6
21.0

In [ ]:
x = int(input("enter the number: "))
for i in range(x):
  print(i)

enter the number: 6
0
1
2
3
4
5

In [ ]:
k = int(input("which year do u want to check ?"))
x = ((k % 4)==0)
y = ((k % 100)==0)
z = ((k % 400)==0)
if x is True:
  if y is True:
    if z is True:
      print(k,"is leap year")
    else:
      print(k,"is not a leap year") 
  else:
     print(k,"is a leap year")    
else:
  print(k,"is not a leap year")

which year do u want to check ?2564
2564 is a leap year

In [ ]:
#x = int(input(""))
for i in range(0,5):
  print("i")

i
i
i
i
i

In [ ]:
n = 65
for len in range(1,6):
  str=""
  for i in range(len):
    str=str+chr(n)+" "
    n+=1
  print(str)

A
B C
D E F
G H I J
K L M N O

In [ ]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print("")

Enter the number: 7
1p
12p
123p
1234p
12345p
123456p
1234567p

In [ ]:
v = [1,2,3,4,5]
for i in v:
  print(i,end="")

12345

In [ ]:
for i in range(1,11):
  print(i,end=" ")
print(type(i))

1 2 3 4 5 6 7 8 9 10 <class 'int'>

In [ ]:
print("the first 10 natural number is:")
sum = 0 
for i in range(1,11):
  print(i,end=" ")
  sum = sum+i
print()
print("The Sum is :",sum)

the first 10 natural number is:
1 2 3 4 5 6 7 8 9 10
The Sum is : 55

In [ ]:
x = int(input("test data: "))
print("the first",x,"Natural number is: ")
sum = 0
for i in range(1,x+1):
  print(i,end=" ")
  sum = sum+i
print()
print("The Sum of natural number upto",x,"terms:",sum)

test data: 7
the first 7 Natural number is:
1 2 3 4 5 6 7
The Sum of natural number upto 7 terms: 28

In [ ]:
print("Input the 10 numbers!")
sum = 0
for i in range(1,11):
   k = int(input("number:"))
   sum = sum+k
print("The sum of 10 no is:",sum)
print(sum/10)

Input the 10 numbers!
number:6
number:76
number:54
number:34
number:23
number:45
number:66
number:44
number:79
number:42
The sum of 10 no is: 469
46.9

In [ ]:
x = int(input("number of terms:"))
for i in range(1,x+1):
  x = i**3
  print("Number is",i,"and cube of the",i,"is:",x)

number of terms:5
Number is 1 and cube of the 1 is: 1
Number is 2 and cube of the 2 is: 8
Number is 3 and cube of the 3 is: 27
Number is 4 and cube of the 4 is: 64
Number is 5 and cube of the 5 is: 125

In [ ]:
x = int(input("Table to be caluclated:"))
for i in range(1,11):
  k=x*i
  print(x,"*",i,"=",k)

Table to be caluclated:15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [ ]:
x = int(input("enter the number:"))
for i in range(1,x+1):
  for j in range(1,11):
    k = i*j
    print(i,"*",j,"=",k,end=" ,")
  print()

enter the number:8
1 * 1 = 1 ,1 * 2 = 2 ,1 * 3 = 3 ,1 * 4 = 4 ,1 * 5 = 5 ,1 * 6 = 6 ,1 * 7 = 7 ,1 * 8 = 8 ,1 * 9 = 9 ,1 * 10 = 10 ,
2 * 1 = 2 ,2 * 2 = 4 ,2 * 3 = 6 ,2 * 4 = 8 ,2 * 5 = 10 ,2 * 6 = 12 ,2 * 7 = 14 ,2 * 8 = 16 ,2 * 9 = 18 ,2 * 10 = 20 ,
3 * 1 = 3 ,3 * 2 = 6 ,3 * 3 = 9 ,3 * 4 = 12 ,3 * 5 = 15 ,3 * 6 = 18 ,3 * 7 = 21 ,3 * 8 = 24 ,3 * 9 = 27 ,3 * 10 = 30 ,
4 * 1 = 4 ,4 * 2 = 8 ,4 * 3 = 12 ,4 * 4 = 16 ,4 * 5 = 20 ,4 * 6 = 24 ,4 * 7 = 28 ,4 * 8 = 32 ,4 * 9 = 36 ,4 * 10 = 40 ,
5 * 1 = 5 ,5 * 2 = 10 ,5 * 3 = 15 ,5 * 4 = 20 ,5 * 5 = 25 ,5 * 6 = 30 ,5 * 7 = 35 ,5 * 8 = 40 ,5 * 9 = 45 ,5 * 10 = 50 ,
6 * 1 = 6 ,6 * 2 = 12 ,6 * 3 = 18 ,6 * 4 = 24 ,6 * 5 = 30 ,6 * 6 = 36 ,6 * 7 = 42 ,6 * 8 = 48 ,6 * 9 = 54 ,6 * 10 = 60 ,
7 * 1 = 7 ,7 * 2 = 14 ,7 * 3 = 21 ,7 * 4 = 28 ,7 * 5 = 35 ,7 * 6 = 42 ,7 * 7 = 49 ,7 * 8 = 56 ,7 * 9 = 63 ,7 * 10 = 70 ,
8 * 1 = 8 ,8 * 2 = 16 ,8 * 3 = 24 ,8 * 4 = 32 ,8 * 5 = 40 ,8 * 6 = 48 ,8 * 7 = 56 ,8 * 8 = 64 ,8 * 9 = 72 ,8 * 10 = 80 ,

In [ ]:
x = int(input("enter the number of terms: "))
print("the odd numbers are: ")
sum = 0
for i in range(1,x+1):  
  print(2*i-1,end=" ")
  sum = (sum+(2*i-1))
print("\nthe sum of odd natural numbers upto to",x,"terms : ",sum)

enter the number of terms: 10
the odd numbers are:
1 3 5 7 9 11 13 15 17 19
the sum of odd natural numbers upto to 10 terms :  100

In [ ]:
for i in range(1,6):
  for j in range(0,i):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end="")
  print()

1
22
333
4444

In [ ]:
for i in range(1,11):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
print("vinod")

vinod

In [ ]:
x = int(input(""))
#print(len(x))
for i in range(1,11,2):
  if x==i:
    print("odd")

9
odd

In [ ]:
print("vinod")

vinod

In [ ]:
def func():
  print("vinod")
v=7  
print(f"i am good boy{v}")

i am good boy7

In [ ]:
print("ff")

ff

In [ ]:
def function():
  print("move")
  print("left")
function()

move
left

In [ ]:
def vinod(a,b):
  sum = a+b
  print(sum)
vinod(1,2)

3

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
     print(j,end =" ")
  print( )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
66 // 10

6

In [ ]:
x = input("")
print(x)
print(x[::-1])

654373
654373
373456

In [ ]:
x = int(input("enter the number: "))
y = x
sum = 0
while y>0:
  digit = y % 10
  sum = sum + digit
  y = y // 10
print(sum)

enter the number: 1
1

In [ ]:
 # Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

In [ ]:
x = int(input(""))
for i in range(1,x):
  x % i =0
  if i ==